.postpage-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  color: white;
}
.postpage-container .back {
  width: 60%;
}
.nf-box-post {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  border-radius: 20px;
  font-family: sans-serif;
  padding: 10px;
  min-height: 25vh;
  max-height: auto;
  height: auto;
  flex-shrink: 0;
}
.post-content {
  padding-left: 10px;
  margin-top: 20px;
  width: 90%;
  overflow-y: auto;
  scrollbar-width: none;
}
.nf-box-post span {
  font-size: 12px;
  color: gray;
}
.nf-box-post img {
  width: 40px;
  border-radius: 50px;
}
.nf-box-post .post-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nf-box-post .img-post {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.nf-box-post .img-post #imgp {
  width: 500px;
  border-radius: 5px;
}
.nf-box-post .react {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
@media (max-width: 769px) {
  .nf-box-post {
    width: 100%;
  }
  .nf-box-post .img-post #imgp {
    width: 350px;
    border-radius: 5px;
    max-height: 350px;
  }
  .postpage-container .back {
    width: 100%;
    margin-bottom: 20px;
  }
}
